In [ ]:
Assignment 1

Q1)

(i)

In [1]:
a="arjun"

In [4]:
type(a)

str

(ii)

In [6]:
b = [1,2,3,"ram"]
type(b)

list

In [8]:
c=5.32
type(c)

float

In [9]:
d=(1,2,3,"lakman","sita")
type(d)

tuple

Q2)

In [ ]:
# i) ' ' datatype is str
# ii)‘[ DS , ML , Python]’ it has incorrect synthax
# iii) [ ‘DS’ , ’ML’ , ‘Python’ ] its datatype is list
# iv) 1 datatype is int

Q3)

In [ ]:
#i) / is used for division
#ii) % is used for mod value
#iii) // is used to find  floor value
#iv) ** is used to find power

Q4)

In [20]:
list1=[1,2.3,5,6.7,8,"ram",7,"kr",23,"rahul"]
for i in list1:
    print(i,type(i))

1 <class 'int'>
2.3 <class 'float'>
5 <class 'int'>
6.7 <class 'float'>
8 <class 'int'>
ram <class 'str'>
7 <class 'int'>
kr <class 'str'>
23 <class 'int'>
rahul <class 'str'>

Q5)

In [26]:
a = int(input())
b = int(input())
count = 0
c = 0
d=a
e=b
while a % b == 0:
    if a % b == 0:
        c += 1
    a = a // b
    count += 1

if c >= 1:
    print(f"{d} is divisible by {e}, it can be divided {count} times")
else:
    print(f"{d} is not divisible by {e}")

 4
 2

4 is divisible by 2, it can be divided 2 times

In [27]:
list2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list2:
    if i%3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7)

In [ ]:
Mutable data types are those that allow their content to be changed after they are created. 
ex:Lists,Dictionaries,Sets