                                          Pandas Assignment-1

Q1)

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2)

In [3]:


my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
pd.Series(my_list)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3)

In [4]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

In [5]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4)

A DataFrame in Pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or a SQL table. DataFrames are one of the primary data structures in Pandas and are used for data analysis and manipulation.

A Pandas Series, on the other hand, is a one-dimensional labeled array that is used to store data of the same data type. It can be thought of as a single column in a DataFrame

In [1]:
import pandas as pd

# Creating a Pandas Series
series_data = [10, 20, 30, 40, 50]
series = pd.Series(series_data, name='MySeries')

# Creating a Pandas DataFrame with the same data
data = {
    'MySeries': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

print("Pandas Series:")
print(series)

print("\n\nPandas DataFrame:")
print(df)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
Name: MySeries, dtype: int64


Pandas DataFrame:
   MySeries
0        10
1        20
2        30
3        40
4        50

Q5)

There are numerous common functions and methods available in Pandas for manipulating data in a DataFrame. Here are some of the most commonly used functions and methods, along with examples of when you might use them:

1. **`head()` and `tail()`**:
   - Use `head(n)` to display the first `n` rows of the DataFrame.
   - Use `tail(n)` to display the last `n` rows of the DataFrame.
   ```python
   df.head(3)  # Display the first 3 rows of the DataFrame
   df.tail(2)  # Display the last 2 rows of the DataFrame
   ```

2. **`describe()`**:
   - Use `describe()` to generate summary statistics of the DataFrame's numeric columns.
   ```python
   df.describe()  # Generate summary statistics for numeric columns
   ```

3. **`groupby()`**:
   - Use `groupby()` to group and aggregate data based on one or more columns.
   ```python
   grouped = df.groupby('Gender')
   grouped['Age'].mean()  # Calculate the mean age for each gender
   ```

4. **`sort_values()`**:
   - Use `sort_values()` to sort the DataFrame by one or more columns.
   ```python
   df.sort_values(by='Age', ascending=False)  # Sort by age in descending order
   ```

5. **`filter()`**:
   - Use `filter()` to select a subset of columns based on column names or criteria.
   ```python
   df.filter(items=['Name', 'Age'])  # Select only the 'Name' and 'Age' columns
   ```

6. **`loc[]` and `iloc[]`**:
   - Use `loc[]` for label-based indexing and `iloc[]` for integer-based indexing to access specific rows and columns.
   ```python
   df.loc[1, 'Name']  # Access the 'Name' column of the row with label 1
   df.iloc[0:2, 0:2]  # Access the first two rows and first two columns
   ```

7. **`drop()`**:
   - Use `drop()` to remove rows or columns from the DataFrame.
   ```python
   df.drop(0)  # Remove the row with index 0
   df.drop(columns=['Gender'])  # Remove the 'Gender' column
   ```

8. **`apply()`**:
   - Use `apply()` to apply a function to rows or columns.
   ```python
   df['Age_Squared'] = df['Age'].apply(lambda x: x**2)  # Create a new column with the age squared
   ```

9. **`pivot_table()`**:
   - Use `pivot_table()` to create summary tables based on columns.
   ```python
   pd.pivot_table(df, values='Age', index='Gender', columns='Name', aggfunc='mean')  # Create a pivot table
   ```

These are just a few examples of the many functions and methods available in Pandas for data manipulation. The choice of function depends on the specific data manipulation task you need to perform.

Q6)

In Pandas, both Series and DataFrame are mutable in nature, whereas the Panel data structure has been removed in recent versions of Pandas and is no longer available. 

This means you can modify the contents, add or remove data, and change values in both Series and DataFrames after they have been created. They are designed to be flexible and allow for various data manipulation operations.

Q7)